.body {
    background-image: url('../assets/homepage.jpg');
    background-size: cover;
    backface-visibility: 0.4;
    padding: 0px;
}
.body_over {
	margin: 0px;
	background-color: #514f4f;
	background-size: cover;
	height: 100vh;
	width: 100%;
	opacity: 0.6;
	filter: alpha(opacity=60);
	z-index: -100;
	position: absolute;
}
.cont {
	color: white;
	text-shadow: 2px 3px black;
	font-family: "Comic Sans MS", cursive, sans-serif;
	z-index: 5;
	position: absolute;
}
.innerwrap {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	margin-top: 5%;
	font-family: "Comic Sans MS", cursive, sans-serif;
}
.body h1 {
	font-size: 80px;
	font-weight: 10px; 
}
#ul_list {
	margin-top: 30px;
	width: 94%;
	margin-left: 6%;
	text-align: left;
}
.list_element {
    font-size: 20px;
    text-align: center; 
}

.list_element td {
	width: 100%;
}
.select_drop {
	width: 15%;
}
.ghost-button {
	display: block;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 8px;
    width: 80%;
    max-width: 200px;
    background: #fff;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 8px;
    color: #fff;
    text-align: center;
    text-decoration: none;
    letter-spacing: 1px;
    transition: all 0.3s ease-out;
    text-shadow: none;
}
.ghost-button:hover,
.ghost-button:focus,
.ghost-button:active {
  background: #fff;
  color: #000;
  text-decoration: none;
  transition: all 0.5s ease-in;
}